*{
    margin: 0;
    padding: 0;
}
body{
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
    
   
}
@media(max-width: 1000px){
  .navbar-style{
    font-size: 12px;
  }
}
.logo{
    height: 48px;
    padding: 2px 10px;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.icon-bar{
    background: darkorange;
}
li a {
    color: #333;
   
}
a{
  text-decoration: none;
}
button{
  margin-top: 13px;
  width: 72px;
  border-radius: 15px;
  color: black;
  background-color: aqua;
 
}
button:hover{
  background-color: aquamarine;
  color: black;
 
}
.button-os{
  /* margin-left: 13px; */
  color: black;
  
}
.footer {
 
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  margin-top: 500px;

}
.col-sm-4{
  box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 20%);
  margin-right: 20px;
  margin-top: 20px;
}
p{
  font-size: 15px;
}
.navbar-toggle {
  margin-right: -18px;
}
.row{
  margin-right: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;

}
